@import "../../../variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 100vw;
  .paginationItem {
    margin: 0px 3px;
  }
  .active {
    color: $white;
    &:hover {
      cursor: pointer;
      color: $gray-hover;
  }
    }
  .disabled {
    color: $gray;
  }
}
