$white: #fff;
$black: #000;
$bg-color: #222;
$header-bg-color: #aaa;
$gray: #555;
$gray-hover: #666;

$status-label-alive: rgb(85, 204, 68);
$status-label-dead: rgb(214, 61, 46);
$status-label-unknown: rgb(158, 158, 158);
