@import "../../../variables.scss";

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 50px;
    background: $header-bg-color;
    a{
        color: $black;
    }
    &__menuItem {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0px 20px;
        &:hover{
            background: $gray;
            color: $white;
            cursor: pointer;
            a {
                color: $white;
            }
        }
        h3{
            margin: 10px 20px
        };
    }
    &__searchModule {
        margin-left: auto;
    }
}
